@media screen and (max-width: 992px) {
            .logo {
                        display: none;
            }
}

@media screen and (max-width: 992px) {

            /* .link{
                        font-size: .6rem;
                        padding-left: .7rem;
            } */
            #header .navbar a {
                        font-size: .9rem;
                        padding-left: .7rem;

            }
}








@media screen and (max-width: 992px) {
            #home {
                        display: grid;
                        grid-template-columns: 1fr;
                        /* width: 100%; */
                        text-align: center;

            }
}

@media screen and (max-width: 992px) {
            .our-facilities {
                        display: grid;
                        grid-template-columns: repeat(2, 1fr);
                        /* align-items: center; */
            }
}

@media screen and (max-width: 576px) {
            .our-facilities {
                        display: grid;
                        grid-template-columns: 1fr;
            }
}

/* services */
@media screen and (max-width: 992px) {
            .services {
                        display: grid;
                        grid-template-columns: repeat(2, 1fr);
            }
}

@media screen and (max-width: 576px) {
            .services {
                        display: grid;
                        grid-template-columns: 1fr;
                        text-align: center;
            }
}

/* about */
@media screen and (max-width: 992px) {
            .about {
                        display: grid;
                        grid-template-columns: 1fr;
                        /* width: 100%; */
            }
}

/* our doctors */
@media screen and (max-width: 992px) {
            .doctors {
                        display: grid;
                        grid-template-columns: repeat(2, 1fr);
            }
}

@media screen and (max-width: 576px) {
            .doctors {
                        display: grid;
                        grid-template-columns: 1fr;
            }
}

@media screen and (max-width: 992px) {
            #book-now .content {
                        display: grid;
                        grid-template-columns: 1fr;
            }
}

@media screen and (max-width: 992px) {
            .reviews {
                        display: grid;
                        grid-template-columns: 1fr;
                        /* width: 100%; */
            }
}

/* @media screen and (max-width: 992px) {
            .blogs {
                        display: grid;
                        grid-template-columns: repeat(2, 1fr);
            }
} */

@media screen and (max-width: 992px) {
            .blogs {
                        display: grid;
                        grid-template-columns: 1fr;
            }
}

/* footer */
@media screen and (max-width: 992px) {
            .footer-container {
                        display: grid;
                        grid-template-columns: repeat(2, 1fr);
                        /* width: 100%; */
            }
}

@media screen and (max-width: 768px) {
            .footer-container {
                        display: grid;
                        grid-template-columns: repeat(2, 1fr);
                        text-align: center;
            }
}