@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

:root {
  --green: #16a085;
  --black: #444;
  --light-color: #777;
  --box-shadow: 0.5rem 0.5rem 0 rgba(22, 160, 133, 0.2);
  --text-shadow: 0.4rem 0.4rem 0 rgba(0, 0, 0, 0.1);
  --border: 0.2rem solid var(--green);
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  display: inline-block;
}

/* common css end */

#header {
  padding: 0.6rem 7%;
  top: 0;
  right: 0;
  left: 0;
  position: fixed;
  box-shadow: 0 0 1.56rem rgba(0, 0, 0, 0.2);
  z-index: 1000;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#header .logo {
  font-size: 2rem;
  color: var(--black);
}
#header i {
  color: var(--green);
}
#header .navbar a {
  font-size: 1.1rem;
  padding-left: 1.5rem;
  color: var(--light-color);
  text-transform: capitalize;
}
#header .navbar a:hover {
  color: var(--green);
}
.menu-btn {
  font-size: 2.5rem;
  background: #eee;
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
  display: none;
}
/* Navbar part end. */

#home {
  padding: 2rem 9%;
  padding-top: 7rem;
  background-color: #f5f5f5;
}

#home {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
#home .image img {
  width: 100%;
}
.content {
  padding-top: 10rem;
}
#home h3 {
  font-size: 2.9rem;
  color: var(--black);
  text-shadow: var(--text-shadow);
  line-height: 1.8;
}
#home p {
  font-size: 1.12rem;
  color: var(--light-color);
  line-height: 1.8rem;
  padding: 1rem 0;
}

.btn {
  border: var(--border);
  padding: 0.3rem 0.3rem 0.3rem 0.7rem;
  background: #fff;
  font-size: 1rem;
  color: var;
  color: var(--green);
  box-shadow: var(--box-shadow);
  border-radius: 0.4rem;
}
.btn span {
  background-color: var(--green);
  color: #fff;
  padding: 0.4rem 0.5rem;
  border-radius: 0.2rem;
  transition: all linear 0.4s;
}
.btn:hover {
  color: #fff;
  background: var(--green);
}
.btn:hover span {
  color: var(--green);
  background: #fff;
  padding: 0.4rem 0.5rem;
  border-radius: 0.2rem;
  margin-left: 0.5rem;
}

/* Home css part end here */

.our-facilities {
  padding: 3rem 9%;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(4, 1fr);
}
.facility {
  border: 0.2rem solid var(--green);
  text-align: center;
  padding: 1rem 3.4rem;
  border-radius: 0.4rem;
  box-shadow: var(--box-shadow);
  cursor: pointer;
}
.facility span {
  color: var(--green);
  font-size: 3rem;
}
.facility h3 {
  font-size: 3rem;
  color: var(--black);
  text-shadow: var(--text-shadow);
}
.facility p {
  padding-top: 1rem;
  color: var(--black);
}
/* Our Facilities css part end here */

#our-services {
  margin-bottom: 800px;

  padding: 0 9%;
  background: #f5f5f5;
}
.title h2 {
  text-align: center;
  padding: 1rem 0;
  text-transform: uppercase;
  font-size: 3rem;
  letter-spacing: 0.1rem;
  color: var;
  color: var(--light-color);
  text-shadow: var(--text-shadow);
}
.title h2 span {
  color: var(--green);
}

.services {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
}
.service {
  border: 0.2rem solid var(--green);
  padding: 2.5rem;
  background: #fff;
  border-radius: 0.4rem;
  box-shadow: var(--box-shadow);
}
.service i {
  color: var(--green);
  font-size: 3rem;
}
.service h3 {
  font-size: 1.6rem;
  color: var(--black);
  padding: 0.7rem 0;
}
.service p {
  font-size: 1rem;
  color: var(--light-color);
  padding-bottom: 1rem;
}
